package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${mainPath}.common.utils.PageUtils;
import ${package}.${moduleName}.entity.${className};

import java.util.Map;


public interface ${className}Service extends IService<${className}> {

    PageUtils queryPage(Map<String, Object> params);
}

